@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ali's Coffee Shop!</h1>
    <h2>Open since 1998!</h2>
    <p>Serving the best coffee and tea in the west! From Jamaican Blue to Tie Guan Yin Oolong, we have what you crave! </p>
   
</div>
